[Unit]
Description=Go-Sinkhole DNS Adblocker Daemon
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sinkhole daemon
Restart=always
RestartSec=5s
# PIDFile=/run/sinkhole.pid
# StandardOutput is handled by the app writing to /var/log/go-sinkhole.log
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
